# netlify.toml
[build]
  command = "npm run build"
  publish = "public"
  functions = "dist/netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[context.production.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"
