# netlify.toml
[build]
  command = "npm run build"
  publish = "dist"
  functions = "dist/netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[context.production.environment]
  NODE_VERSION = "18"
